footer {
	background-color: rgb(156, 175, 170);
}

.container.footer {
	display: flex;
	justify-content: center;
	padding: 10px;
	font-size: 1.25rem;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.source-code-div{
	display: flex;
	align-items: center;
	justify-content: center;
	// min-height: 40px;
}

.source-code-div p {
	display: flex;
	align-content: center;
	gap: 5px;
}

.source-code svg {
	height: 20px;
	width: 20px;
}